body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #B2FEFA 0%, #0ED2F7 100%); 
}
.headerImage{
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slider-half{
  width: 50%;
  /* margin: auto; */
  /* background-color: lightblue; */
}

.questionSpan{
  /* font-size: 20px; */
  font-weight: bold;
  color: darkblue;
}
.questionBegin{
  color: grey;
}


.container {
  width: 80%;
  margin: auto;
  background-color: lightblue;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

.form-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  width: 100%;
  margin-top: 5px;
}

label {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  color: #555;
}